{% extends 'base.html.twig' %}
{% block title %}Seccions{% endblock %}
{% block body %}

<section class="dark-background"></section>

{% if seccio %}
    
    <section id="features" class="features section">
      <div class="container">
        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
            <img src="assets/img/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <h3>{{seccio.nom}}</h3>
            <p class="fst-italic">
              {{seccio.descripcio}}
            </p>
            <ul>
              {% for s in seccio.articles %}
                <li><i class="bi bi-check"></i><span>{{s}}</span></li>
              {% endfor %}
            </ul>
          </div>
        </div><!-- Features Item -->
      </div>
    </section>

{% else %}
          
    <section id="features" class="features section">
      <div class="container">
        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
            <img src="assets/img/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <h3>No sa trobat la seccio: {{ codi }}</h3>
          </div>
        </div><!-- Features Item -->
      </div>
    </section>

{% endif %}
{% endblock %}