<!DOCTYPE html>
<html>
<head>
    <title>Inici</title>
</head>
<body>
    <h1>Projecte Gestió Retail de 2n de DAW</h1>
    <img src="{{ asset('imgs/imatgeInici.png') }}" class="imatgeInici" alt="Imatge Inici" onclick="location.href='{{ path('dades_seccio', {'codi': 1}) }}'" style="cursor:pointer;">
</body>
</html>
