{% extends 'base.html.twig' %}
{% block title %}Seccions{% endblock %}
{% block body %}
{% if seccions %}
    
    <section id="features" class="features section">
      <h1>Hola</h1>
    </section>

{% else %}
          
    <section id="features" class="features section">
      <h1>Carlos</h1>
    </section>

{% endif %}
{% endblock %}